
body {
  font-size: 20px;
  color: #071108;
}
.main-container {
  width: 300px;
  margin: 0 auto;
  

}
.inc-exp-container {
  display: flex;
  text-align: center;
  padding: 8px;
  box-shadow: 2px 3px 2px 3px #dedede;
}
.income-box {
  flex-grow: 1;
  border-right: 1px solid #dedede;
  height: 4em;
}
.expense-box {
  flex-grow: 1;
  margin: 0 auto;
}
.income-box h4 {
  margin-top: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.expense-box h4 {
  margin-top: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 3px;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}
input {
  width: 100%;
  border: 1px solid;
  padding: 10px 0;
  margin-bottom: 1em;
}
.btn {
  width: 100%;
  padding: 10px 0;
  font-size: 1.1em;
  background-color: #A5243D;
  color: white;
}
/*History*/
.list-container {
  list-style: none;
  padding-left: 0;
}
/* transaction */
.transContainer{
  display: flex;
  flex-direction: row;
}
.transName{
  flex:1
}